*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
vendor/*
.cache/*
.config/*
.gitignore
.vscode-server/*
.local/*
logs/*
tests/*
writable/*
.gitignore
.env
.viminfo
.wget-hsts
builds
composer.json
.gitignore
env
phpunit.xml.dist
.bash_history
composer.lock
LICENSE
preload.php
README.md
spark
